@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




h1 {
  font-family: 'Roboto Mono', monospace;
}
.logo-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
}
.logo-header img {
  width: 80px;
  height: auto;
}
.sideNav {
  border-left: 2px solid black;
  height: 100%; 
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: black;
}
.navLinks {
  margin-top: 50px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 16px;
  color: black;
  display: block;
  line-height: 2.8;
}
.navLinks :visited {
  color: black;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box-channel {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 25px;
}